<div class="formContainer">
    <div class="inputsContainer">
        <div class="titleInput mdc-text-field text-field mdc-text-field--outlined mdc-text-field--upgraded">
            <input type="text" id="title" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="title">
                Title
            </label>
        </div>
        <div class="projectInput mdc-text-field text-field mdc-text-field--outlined mdc-text-field--upgraded">
            <input type="text" id="project" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="project">
                Project
            </label>
        </div>
    </div>
    <div class="btnContainer">
        <div class="createBtn">
            <button>Create</button>
        </div>
        <div class="updateBtn">
            <button>Update</button>
        </div>
        <div class="cancelBtn">
            <button>Cancel</button>
        </div>
    </div>
</div>